p {font-family: "Dejavu Sans", Verdana, sans-serif;}

div.green {
    background-color:#33cc33;
}

div.red {
    background-color:#cc0000;
}

div.amber {
    background-color:#ff8000;
}

div.grey {
    background-color:#a19e9c;
}

div.xlarge {
    width:510px;
    height:510px;
    font-size:2em;
}

div.dlarge {
    width:510px;
    height:254px;
    font-size:1.5em;
}

div.large {
    width:254px;
    height:254px;
    font-size:1.5em;
}

div.dmedium {
    width:254px;
    height:126px;
    font-size:1.125em;
}

div.medium {
    width:126px;
    height:126px;
    font-size:1.125em;
}

div.dsmall {
    width:126px;
    height:62px;
    font-size:0.75em;
}

div.small {
    width:62px;
    height:62px;
    font-size:0.75em;
}

div.dmicro {
    width:62px;
    height:30px;
    font-size:0.5em;
}

div.micro {
    width:30px;
    height:30px;
    font-size:0.5em;
}

div.status {
    height: 30px;
    font-size:1em;
}

div#status-bar p.title {
    font-size: 100%;
    position: absolute;
    left: 3;
    bottom: 1;
}

div#status-bar p.lastUpdated {
    font-size: 75%;
    position: absolute;
    right: 3;
    bottom: 1;
}

div.box {
    color: white;
    float:left;
    margin-bottom:2px;
    margin-right:2px;
    position: relative;
    text-align: center;
}

div.big-box {
    margin: auto;
}

p.title {
    margin-block-start: 5%;
    margin-block-end: auto;
}

p.message {
    font-size:60%;
    margin-block-start: 0.5em;
    margin-block-end: auto;
}

p.maxTBU {
    font-size:40%;
    margin-block-start: auto;
    margin-block-end: auto;
    visibility: hidden;
}

p.lastUpdated {
    font-size:40%;
    margin-block-start: auto;
    margin-block-end: auto;
    position: absolute;
    bottom: 1;
    right: 3;
}
