/* setting default font family */
p, body, table {
  font-family: "Dejavu Sans", Verdana, sans-serif;
}

/* hide scroll bars */
::-webkit-scrollbar {
  display: none
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* lastUpdate class  */
p.lastUpdated {
    font-size:40%;
    margin-block-end: auto;
    margin-block-start: auto;
    position: absolute;
    right: 3px;
    bottom: 1px;
}

div#status-bar .lastUpdated {
    font-size: 75%;
}

.dot .lastUpdated {
    display: none;
}

.micro .lastUpdated {
    display: none;
}

.dmicro .lastUpdated {
    display: none;
}

.small .lastUpdated {
    display: none;
}


/* message class */
p.message {
    font-size:60%;
    margin-block-end: auto;
    margin-block-start: 0.5em;
}

.dot .message {
    display: none;
}

.micro .message {
    display: none;
}

.dmicro .message {
    display: none;
}


/* title class */
.title {
    margin-block-end: auto;
    margin-block-start: auto;
}

.dot .title {
    display: none;
}

div#status-bar .title {
    bottom: 1px;
    font-size: 100%;
    left: 3px;
    position: absolute;
}


/* box color classes */
.green {
    background-color:#33cc33;
}

.red, .noUpdate {
    background-color:#cc0000;
}

.amber {
    background-color:#ff8000;
}

.grey {
    background-color:#a19e9c;
}


/* box size classes */
.xlarge {
    font-size:2em;
    height:510px;
    width:510px;
    overflow: hidden;
}

.dlarge {
    font-size:1.5em;
    height:254px;
    width:510px;
    overflow: hidden;
}

.large {
    font-size:1.5em;
    height:254px;
    width:254px;
    overflow: hidden;
}

.dmedium {
    font-size:1.125em;
    height:126px;
    width:254px;
    overflow: hidden;
}

.medium {
    font-size:1.125em;
    height:126px;
    width:126px;
    overflow: hidden;
}

.dsmall {
    font-size:0.8em;
    height:62px;
    width:126px;
    overflow: hidden;
}

.small {
    font-size:0.8em;
    height:62px;
    width:62px;
    overflow: hidden;
}

.dmicro {
    font-size:0.8em;
    height:30px;
    width:62px;
    overflow: hidden;
}

.micro {
    font-size:0.8em;
    height:30px;
    width:30px;
    overflow: hidden;
}

.dot {
    font-size: 0.6em;
    height: 14px;
    width: 14px;
    overflow: hidden;
}

.status {
    font-size:1em;
    height: 30px;
    overflow: hidden;
}


/* box classes */
.box {
    color: white;
    float:left;
    margin-bottom:2px;
    margin-right:2px;
    position: relative;
    text-align: center;
}

.big-box {
    margin: auto;
}


/* maxTBU class */
p.maxTBU {
    display: none;
}

/* expireAfter class */
p.expireAfter {
    display: none;
}

/* info table */
.info table {
    color: white;
    padding-left: 5px;
}

.info td {
    text-align: left;
}

.info th {
    text-align: right;
    vertical-align: top;
}

.info ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* tooltip class */
.tooltip {
    bottom: 1px;
    font-size: 100%;
    margin-block-end: auto;
    margin-block-start: auto;
    position: absolute;
    width: 100%;
}
